
.nav {
    grid-area: n;
    background-color: blueviolet;
    padding: 20px;

}

/*// уберает подчеркивание ссылки*/
.item a {
    color: white;
    text-decoration: none;
}

/*//цвет активной ссылки */
.item a.activeClassLink {
    color: gold;
}