/*.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}*/
.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas:
"h h"
"n c";

  grid-template-rows: 150px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px;*/
}

.app-wrapper-content {
  grid-area: c;
  background-color: greenyellow;
}
